h2 {{title}}

.row
  .col-xs-3
    h4 Get Local Traffic Cameras
    form(role='form', novalidate, name='webcamsForm')
      .form-group
        label(for='zip') Zip Code
        input.form-control#zip(type='text', ng-pattern='/^[0-9]{5}$/', ng-model='zip', min='5', max='5', required, autofocus)
      button.btn.btn-success(type='submit', ng-show='webcamsForm.$valid', ng-click='getWebcams()') Get Webcams
  .col-xs-9
.row(ng-show='webcams')
  .col-xs-12
    .panel.panel-default
      .panel-body
        .webcam(ng-repeat='webcam in webcams')
          img(ng-src='{{webcam.WIDGETCURRENTIMAGEURL}}')
